header {
  width: 800px;
  height: 60px;
  padding: 20px 0;
  margin-bottom: 20px;
  background: #6b35b3;
}

h1,
footer,
p {
  text-align: center;
  color: #fff;
  font-size: 26px;
  font-family: arial;
  text-transform: uppercase;
  font-weight: bold;
}

footer {
  width: 800px;
  height: 60px;
  padding: 20px 0;
  background: red;
  clear: both;
}

article {
  width: 580px;
  height: 300px;
  background: #222;
  float: left;
}

aside {
  width: 200px;
  height: 300px;
  margin-left: 20px;
  background: #ccc;
  float: left;
}

.contanier {
  width: 800px;
  margin: 0 auto;
  background: lightcoral;
}

.conteudo {
  width: 800px;
  background: blue;
  overflow: auto;
  margin-bottom: 20px;
}
